:root {
    --main-black: #303030;
    --main-white: rgb(247, 247, 247);
    --chess-black: #487eb0;
    --chess-white: #f5f6fa;
}
*, ::after, ::before {
    box-sizing: border-box;
}
body,html {
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    background-color: var(--main-black);
    color:var(--main-white);
    font-family: 'Roboto', sans-serif;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
#chess-board {
    display: flex;
    margin: auto;
    height: 800px;
    width: 800px;
    border-collapse: collapse;
    margin-bottom: 120px;
}
#chess-board .row td {
    height: 100px;
    width: 100px;
    background-color: #fff;
}
#chess-board .row .black {
    background-color: var(--chess-black);
}
#chess-board .row .white {
    background-color: var(--chess-white);
}
#chess-board th {
    height: 50px;
    width: 50px;
}
#chess-board img {
    width: 90%;
    height: 90%;
    display: flex;
    margin: auto;
    cursor: pointer;
}
.ball {
    display: flex;
    margin: auto;
    height: 35%;
    width: 35%;
    background-color: var(--main-black);
    opacity: .4;
    border-radius: 50%;
}
@media screen and (max-width: 480px) {
    #chess-board {
        height: 400px;
        width: 400px;
    }
    #chess-board .row td {
        height: 50px;
        width: 50px;
    }
}